@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format("truetype");
}

*{
    font-family: "Montserrat" !important;
}

@theme {
    --color-primary: #34A853;
    --color-secondary: #FFC107;
    --color-tertiary:#D2B04B;
    --color-footerHead:#375E41;
    --color-black:#000000;
    --color-quatenary:#30D15B;
    
}
/* Hide scrollbars but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */

}

